{% extends "base.html" %} {% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Sales Dashboard</h1>
<div id="chart1">
    {{ graph1_html|safe }}
</div>
<div id="chart2">
    {{ graph2_html|safe }}
</div>
<div id="chart3">
    {{ graph3_html|safe }}
</div>
<div>
    {{ graph5_html|safe }}
</div>
<div>
    {{ graph6_html|safe }}
</div>
<div>
    {{ graph7_html|safe }}
</div>
<div>
    {{ graph8_html|safe }}
</div>
<div>
    {{ graph9_html|safe }}
</div>
<div>
    {{ graph10_html|safe }}
</div>
<div>
    {{ graph11_html|safe }}
</div>
{% endblock %}
